body{
  margin: 0 0;
  background: #232323;
}

.container{
  width: 95%;
  max-width: 650px;
  margin: 0 auto;
}

header{
  padding: 3% 0;
  color: #FFFFFF;
  background: #39B3DB;
  text-align: center;
  transition: background 0.25s ease;
}

.headerItem{
  margin: 0 0;
}

#colorToGuess{
  font-size: 3em;
}


#options{
  background: #FFFFFF;
  text-align: center;
}

#options .container{
  display: flex;
}

#options .container .optionsItem{
  flex: 1;
}

#difficultySelectors{
  display: flex;
  justify-content: space-around;
}



.grid{
  padding: 20px 0;
}

.gridRow{
  display: flex;
  justify-content: space-between;
  margin: 3% 3%;
}

.gridItem{
  width: 30%;
  max-width: 200px;
  height: 160px;
  border-radius: 15%;
  transition: opacity 0.25s ease;
}




.incorrectClick{
  opacity: 0;
}




@media(min-width: 768px){
}
