body{
  margin: 0 0;
  background: #232323;
}

.container{
  width: 95%;
  max-width: 650px;
  margin: 0 auto;
}

header{
  padding: 3% 0;
  background: #39B3DB;
  font-family: 'Russo One', sans-serif;
  color: #FFFFFF;
  text-align: center;
  transition: all 0.25s ease;
}

.headerItem{
  margin: 0 0;
}

#colorToGuess{
  font-size: 2.5em;
}



#options{
  background: #FFFFFF;
}

#options .container {
  height: 35px;
  text-align: center;
}

.optionsItem{
  font-family: 'Monda', sans-serif;
  width: 40%;
  font-size: 1em;
  font-weight: 400;
}

#gameStatus{
  display: inline-block;
}

#newGameButton{
  height: 100%;
  border: none;
  outline: none;
  background-color: white;
  transition: all 0.25s ease;
}

#newGameButton:hover{
  background-color: #39B3DB;
  color: white;
}



#footerText {
  margin-top: 50px;
  color: gray;
  text-align: center;
}

.grid{
  padding: 20px 0;
}

.gridRow{
  display: flex;
  justify-content: space-between;
  margin: 3% 3%;
}

.gridItem{
  width: 30%;
  max-width: 200px;
  height: 110px;
  border-radius: 15%;
  transition: opacity 0.25s ease;
}



.incorrectClick{
  opacity: 0;
}




@media(min-width: 480px){
  #colorToGuess{
    font-size: 3em;
  }

  .gridItem{
    height: 160px;
  }
}
